<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>${userName}-个人博客</title>
<link rel="shortcut icon" href="/images/favicon.ico"/>
<link rel="bookmark" href="/images/favicon.ico"/>
<meta name="keywords" content="廖旭东，个人博客，技术博客" />
<meta name="description" content="廖旭东的个人博客，记录学习成长的步伐" />
<link href="/css/header.css" rel="stylesheet">
</head>
<body>
<header>
  <div id="logo"><a href="/"></a></div>
  <nav class="topnav" id="topnav">
      <a href="/"><span>首页</span><span class="en">Home</span></a>
      <a href="http://www.lxd.pub/about.htm"><span>关于</span><span class="en">About</span></a>
      <a href="blogList.html"><span>博客</span><span class="en">Diary</span></a>
      <a href="http://www.lxd.pub/leaveMessage.htm"><span>留言版</span><span class="en">Gustbook</span></a>
  </nav>
</header>