<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>${userName}-个人博客</title>
<link rel="shortcut icon" href="/images/favicon.ico"/>
<link rel="bookmark" href="/images/favicon.ico"/>
<meta name="keywords" content="廖旭东，个人博客，技术博客" />
<meta name="description" content="廖旭东的个人博客，记录学习成长的步伐" />
<link href="/css/header.css" rel="stylesheet">
</head>
<body>
<header>
  <div id="logo"><a href="/"></a></div>
  <nav class="topnav" id="topnav">
      <a href="/"><span>首页</span><span class="en">Home</span></a>
      <a href="about.html"><span>关于我</span><span class="en">About</span></a>
      <a href="saylist.html"><span>个人日记</span><span class="en">Diary</span></a>
      <a href="seolist.html"><span>SEO技术</span><span class="en">Seo</span></a>
      <a href="weblist.html"><span>WEB前端</span><span class="en">Web</span></a>
      <a href="gustbook.html"><span>留言版</span><span class="en">Gustbook</span></a>
  </nav>
</header>