#tag introduce("/static/css/swiper.min.css") #end
#tag introduce("/static/js/swiper.min.js") #end
<div id="swiper-container" class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div id="intro" style="padding: 47px 0 75px 0">
				<h1>记录</h1>
				<h6 style="background: #DF2935;">一个好的习惯，将会使你收益一生</h6>
				<div class="motto">
					<blockquote>
						<p>你写的任何一段代码，三个月之后都可能会用得上，但哪时候你已经想不起来，唯一的方法，就是记下来！</p>
					</blockquote>
				</div>
				<p class="subscribe-btns wrap text-centered">
					<a href="/" class="btn" type="red" outline>给我留言&gt;&gt;</a>
				</p>
			</div>
		</div>
		<div class="swiper-slide">
			<div id="hero" style="padding: 47px 10px 50px 10px">
				<h1>再简单不过的介绍</h1>
				<p>断断续续的写点代码，也算是有个雏形了，较以前那个版本，算是花了不少心思，先部署上来，待慢慢完善</p>
			</div>
			<!-- 按钮 -->
			<p class="subscribe-btns wrap text-centered">
				<a href="/" class="btn" type="primary">关注微信公众号</a><!--  &nbsp;&nbsp; <a
					href="/" class="btn" type="black" outline>RSS订阅本博客</a> -->
			</p>
		</div>
	</div>
	<!-- 分页器 -->
	<!-- <div class="swiper-pagination"></div> -->

	<!-- 导航按钮
		<div class="swiper-button-prev swiper-button-black"></div>
		<div class="swiper-button-next swiper-button-black"></div> -->
</div>
<script type="text/javascript">
	var swiper = new Swiper('.swiper-container', {
		// loop:true,
		autoplay : 5000,
		speed : 1000,
		grabCursor : true,
		parallax : true,
		// pagination:'.swiper-pagination',
		/*nextButton:'.swiper-button-next',
		prevButton:'.swiper-button-prev',*/
		/**延迟加载到前后一张*/
		lazyLoading : true,
		lazyLoadingInPrevNext : true,
		onInit : function(swiper) {
			$('#cover-customer').attr('class', 'cover-1');
		},
		onAutoplay : function(swiper) {
			/*switch(swiper.activeIndex){
				case 0:
					$('#nav-header').attr('class','cover-0');
					break;
				case 1:
					$('#nav-header').attr('class','cover-1');
					break;
				case 2:
					$('#nav-header').attr('class','cover-2');
					break;
			}*/
			//console.log(swiper.activeIndex);
			// alert('事件触发了;');
		}
	});
</script>