@charset "utf-8";
/*about*/
.aboutcon{ color:#696969}
h1.t_nav { border-bottom: #F1F1F1 1px solid; font-size: 12px; font-weight: normal; line-height: 40px; height: 40px; }
h1.t_nav span{float:left; color:#999}
h1.t_nav span a { margin: 0 5px }
.n1 { background: #5EA51B;}
.n2{ background: #8BBF5D; }
.about{ width:740px;overflow: hidden;line-height:22px;}
.about h2{ font-size:22px; font-family: 'Architects Daughter', cursive;margin-bottom:5px;}
.about_c,.about{margin:5px 0}
.about ul{ width:710px}
.about_c{ padding:10px 0 0 10px; color:#242222; line-height:26px; }
.about_c span{ color:#19A566}
a.blog_link{ color:#1CA368; margin:0 20px}
.about #me_text{width:740px;overflow: hidden;color:#242222;background: url(../images/r_line.jpg) repeat-y right;font-family:"微软雅黑"; }
#me_text p{width:700px;padding:6px 20px;text-indent:2em;font-size:16px;}
.about_c .about_qq{width:200px;heiht:30px;}
.about_c .about_qq span{width:60px;height:28px;float:left;}
.about_c .about_qq p{display:block;width:93px;height:30px;margin-top:3px; background:url("../images/qq_bg.png") no-repeat;float:left;}
.about_c .about_yx{width:200px;heiht:30px;}
.about_c .about_yx p{width:97px;height:25px; background:url("../images/qq_bg.png") -93px 0 no-repeat;float:left;}
.about_c .about_yx span{width:60px;height:28px;line-height:30px;float:left;}
