@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0 }
body { font: 12px "宋体", Arial, Helvetica, sans-serif; color: #756F71 }
ul { list-style: none; }
.left { float: left; }
.right { float: right; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
.box{ width:1000px; margin:auto; overflow:hidden}
article { width: 1000px; margin: 20px auto; overflow: hidden }
aside { width: 250px;position: relative;margin-top: 10px; }
footer { text-align: center; line-height: 40px; border-top: #E8E8E8 1px solid ; width:1000px; margin:auto}
.ds-avatar {float: left;}
#ds-thread{margin-right: 20px;}

.shili {background-color: rgb(245, 245, 245);padding: 10px;border: 1px dotted rgb(119, 136, 85);word-wrap: break-word;}
.bt-cs{background:#f90;padding:5px 10px;}
.bt-cs a{color:#fff}
div.bdsharebuttonbox.bdshare-button-style1-32 {
margin: 20px 0;
}
.news {
overflow: hidden;
width: 250px;
}


.login { background: #f2f2f2; line-height: 36px; overflow: hidden }
.login ul { width: 1000px; margin: auto }
.rss { width: 360px; text-align: right; float: right }
.rss a { color: #696969; border-right: #696969 1px solid; margin: 0 2px; padding: 0 4px }
.qq { float: left; width:590px; }
.qq form{ float:left}
a.tqq{ float:right}
a.tqq img {margin: 5px 0 0 3px;}
input.inputSub {background: #2EA4F3;color: #fff;border: none;padding: 2px 4px;border-radius: 3px;cursor: pointer;}

/**限制评论框布局*/
.changyan{
	margin-right: 20px;
}