<div id="cover-customer">
	<div class="nav-toggle">
		<div id="nav-brand">
			<span>${title}</span>
		</div>
		<a href="/" data-tools="togglenav" class="tools-toggle"
			data-target="#header"></a>
	</div>
	<header class="header hide-for-small">
		<div class="inner">
			<div id="logo">
				<span class="logo"><a href="/">echeffic</a></span>
			</div>
			<div class="nav_z">
				<ul id="navul" class="cl">
					<li><a href="/">首页</a></li>
					<li><a href="/class">文章分类</a>
						<!-- <ul>
							<li><a href="/list/java">java</a></li>
							<li><a href="#">开发日志</a></li>
							<li><a href="#">数据库</a></li>
							<li><a href="#">服务器</a></li>
						</ul> -->
					</li>
					<li><a href="/about">关于</a></li>
					<!--可在此处直接添加导航-->
				</ul>
			</div>
			<div id="user-info">
				<span class="user-login">
				#if (userName)
				<a href="javascript:void(0);">欢迎您,${userName}</a>
				#else
				<a href="/login">登录</a></span> 
				#end
				<span class="write"><a href="/write_md">写文章</a></span>
			</div>
			<div class="search" id="search">
				<!-- <form action="/search" method="get" class="forms"> -->
					<div class="btn-append">
						<input name="search" onkeyup="numberInputChange(this,event);" type="text" class="input-small" placeholder="搜索文章" />
					</div>
				<!-- </form> -->
				<span class="search-icon"></span>
			</div>
		</div>
	</header>
	<div id="header">
		<nav id="nav-left">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="/about">关于</a></li>
				<li><a href="/class">分类列表</a></li>
				<li><a href="/login">账号登录</a></li>
			</ul>
		</nav>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		
		var href = window.location.href;
		if (href.indexOf('search') >= 0) {
			var x = href.split('/');
			$('input[name=search]').val(decodeURI(x[x.length-1]));
		}
		//头页登录
		$("#navul > li").not(".navhome").hover(function() {
			$(this).addClass("navmoon")
		}, function() {
			$(this).removeClass("navmoon")
		});
		//搜索
		/* $('input[name=search]').bind('input propertychange',function(event){
			var _this = this;
			debounce(function(){
				console.log('xxx');
			},500,true);
		}); */
	});
	/** 频率控制 返回函数连续调用时，fn 执行频率限定为每多少时间执行一次* @param fn {function}  需要调用的函数* @param delay  {number}    延迟时间，单位毫秒* @param immediate  {bool} 给 immediate参数传递false 绑定的函数先执行，而不是delay后后执行。* @return {function}实际调用函数*/
	var throttle = function(fn, delay, immediate, debounce) {
		var curr = +new Date(), //当前事件       
		last_call = 0, last_exec = 0, timer = null, diff, //时间差       
		context, //上下文       
		args, exec = function() {
			last_exec = curr;
			fn.apply(context, args);
		};
		return function() {
			curr = +new Date();
			context = this, args = arguments, diff = curr
					- (debounce ? last_call : last_exec) - delay;
			clearTimeout(timer);
			if (debounce) {
				if (immediate) {
					timer = setTimeout(exec, delay);
				} else if (diff >= 0) {
					exec();
				}
			} else {
				if (diff >= 0) {
					exec();
				} else if (immediate) {
					timer = setTimeout(exec, -diff);
				}
			}
			last_call = curr;
		}
	};
	/** 空闲控制 返回函数连续调用时，空闲时间必须大于或等于 delay，fn 才会执行* @param fn {function}  要调用的函数* @param delay   {number}    空闲时间* @param immediate  {bool} 给 immediate参数传递false 绑定的函数先执行，而不是delay后后执行。* @return {function}实际调用函数*/
	var debounce = function(fn, delay, immediate) {
		return throttle(fn, delay, immediate, true);
	};
	var numberInputChange = debounce(function(_input,event) {
		var content = $(_input).val().trim();
		if (content === ''||event.keyCode != 13) {
			return;
		}
		window.location.href = '/search/' + content;
		/* $.ajax({
			url:'/search/'+content,
			method:'GET',
			success:function(data){
				console.log(data);
			}
		}); */
	}, 300, true);
</script>