<!-- 详情标题 -->
<style type="text/css">
@media(max-width: 768px){
	#plugins div{
		/* margin-right: 10px; */
		padding: 24px 5px 24px 5px;
	}
}
</style>
<div id="comments-moderate-message">
	<h2>文章分类</h2>
</div>
<!-- 详细组件 -->
<div id="plugins" class="wrap">
	<blocks cols="3">
		#for(SysData sysData:typeList)
		<div class="shadow" style="cursor:pointer;" onclick="window.open('/list/${sysData.key}','_blank')">
			<h3><a href="/list/${sysData.key}" target="_blank">${sysData.value}</a></h3>
			<p>${sysData.remark}</p>
		</div>
		#end
	</blocks>
</div>