	<div id="comments-moderate-message">
		<h2>关于本站</h2>
	</div>
	<div class="post-box">
		<row id="team-box">
			<column>
			<div class="team-card">
				<span class="team-name">Johson</span>
				<span class="team-about">在深圳打拼的娃，就职于金蝶软件的java开发工程师岗位，喜欢技术且在不断学习</span>
				<img src="/static/img/about.jpg" alt="">
			</div>
			</column>
		</row>
		<div class="callout">
			<h3>声明</h3>
			<p>首先申明：本博客只用于个人学习交流，且代码在GitHub上开源，开源地址：https://github.com/k42jc/blog.git，如果您觉得有哪些方面烂得看不下去，也可以帮忙贡献点资源，最好是页面/UI方面的，本人将深表感激！
一直想做一个属于自己的博客，终于有一天还是忍不住，开始动手。最开始趁着优惠入手了腾讯云1个月，后几天双十一趁着打折买了一年的阿里云(还是比较心痛的)，也想着有个服务器没事的时候可以研究一些在线的东西。</p>
<p>页面方面暂时还是找的网络免费模板资源(在这方面个人能力着实不怎么给力，对各种页面、样式也不太感兴趣)，后台使用java，说到java就不得不提框架(当然，大神们可能不屑，但是不得不提的是，各种框架确实会大大的提升开发效率)，本博客选用的是spring/springMVC、myBatis组合，毕竟没什么复杂的业务，就简而行。页面使用国人开源模板jetbrick Template，看评论与文档觉得不错，无论易用性还是效率上。服务器安装的Linux centOS，比较节省资源，加上之前学校学的linux方面的，还有点记忆,搭一套环境不在话下。数据库选的mysql，近期了解了下动态数据源，后期给加个mongoDB提升big。应用服务器/容器方面，用的是nginx+tomcat实现负载均衡,nginx负责静态资源，tomcat负责servlet解析。</p>
<p>因为是上班族，只能在下班时间抽空写点代码，一直到现在也只是算有个雏形。虽然比较慢，也算是有一点持久的热情，待我慢慢完善，都会有的。
深圳的这个夏天可算是到头了，今晚21点下班出来感到风开始有点凉得刺骨了，冷得有点猝不及防。</p>
<p><b><em>如上----By:廖旭东 于2015-11-25日晚22:22分</em></b></p>
		</div>
	</div>
