	<div id="comments-moderate-message">
		<h2>关于</h2>
	</div>
	<div class="post-box">
		<row id="team-box">
			<column>
			<div class="team-card">
				<span class="team-name">廖旭东</span>
				<span class="team-about">暂时没啥好说的</span>
				<img src="/static/img/about.png" alt="">
			</div>
			</column>
		</row>
		<div class="callout">
			<h3>声明</h3>
			<p>断断续续的写点代码，也花了不少时间，这个版本相较于之前那个版本还算是花了很多心思的，做了点架构方面的东西，用了不少设计模式
			，也查看文档自定义模板标签，实现页面的组件化，新学到的拿来用一下。页面渲染没有使用springMVC了，
			而是直接配了个过滤器搭配模板引擎直接渲染，数据库改用mongodb，设计上也支持多数据库，以后看兴趣看是否需要搭配其他数据库。
			页面样式上使用的一个国外网站的开源样式kube.css，觉得还不错，先用着。</p>
			<p>现在还只是个雏形，等待慢慢完善吧</p>
<p><b><em>如上----By:廖旭东 于2016-04-25日晚</em></b></p>
		</div>
	</div>
