#include("layout/header.htm")
<link href="/css/base.css" rel="stylesheet">
<link href="/css/about.css" rel="stylesheet">
<article class="aboutcon">
<h1 class="t_nav"><span>您当前的位置：<a href="htpp://www.lxd.pub/about.htm">关于</a></span></h1>
<div class="about left">
  <h2>About This Blog</h2>
  <div id="me_text">
  	${about.value}
  </div>
 
</div>
<aside class="right">  
    <div class="about_c">
    <p>姓名：<a href="/" target="_blank">${personInfo.realName}</a></p>
    <p>现居：${personInfo.address}</p>
    <p>电子邮箱：${personInfo.email}</p>
    <p>简介：${release}</p>
    <div class="about_qq"><span>联系QQ：</span><a href="http://wpa.qq.com/msgrd?v=3&uin=635684783&site=qq&menu=yes" title="联系博主" target="_blank"><p></p></a>
     <div class="clear"></div>
    </div>
    <!-- <div class="about_yx"><span>加入QQ群：</span><a href="http://shang.qq.com/wpa/qunwpa?idkey=89276e0cb9fadcbe6334cbba01277747ac448b27386421cc35e761282be31668" title="加入QQ群" target="_blank"><p></p></a> -->
    <div class="clear"></div>
    </div>
</div>     
</aside>
</article>
#include("layout/footer.htm")