#options(import="java.text.SimpleDateFormat") 
#set(date=new SimpleDateFormat("yyyy-MM-dd")) 
#include("layout/header.htm")
<link type="text/css" href="/css/base.css" rel="stylesheet">
<link type="text/css" href="/css/new.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/SyntaxHighlighter.css"></link>
<script class="javascript" src="/js/jquery.js"></script>
<script class="javascript" src="/js/shCore.js"></script>

<article class="blogs">
	<h1 class="t_nav">
		<span>您当前的位置：<a href="/">博客</a>&nbsp;>&nbsp;<a href="/">${blog.blogType.value}</a></span>
	</h1>
	<div class="index_about">
		<h2 class="c_titile">${blog.title}</h2>
		<p class="box_c">
			<span class="d_time">发布时间：${date.format(blog.createDate)}</span><span>作者：<a
				href='mailto:k42jc@hotmail.com'>${userName}</a></span><span>阅读（${blog.viewNums}）</span>
		</p>
		<ul class="infos">
			${blog.content}
		</ul>
			<!-- <iframe id="mood_frame" width="510" height="200"
				src="/e/extend/mood/?classid=28&id=749" marginWidth=0 marginHeight=0
				frameborder="0" scrolling="no"></iframe> -->
		<div class="keybq">
			<p>
				<span>关键字词</span>：${blog.keyword}
			</p>
		</div>
		<!-- <div class="ad">
			<script type="text/javascript">
				/*自定义标签云myqq，创建于2013-8-2*/
				var cpro_id = "u1335521";
			</script>
			<script src="http://cpro.baidustatic.com/cpro/ui/c.js"
				type="text/javascript"></script>

		</div> -->
		<div class="nextinfo">
			<p>
				上一篇：<a href='blog/1.htm'>博客开发日志(1)</a>
			</p>
			<p>
				下一篇：<a href='blog/3.htm'>博客开发日志(3)</a>
			</p>
		</div>
		<div class="otherlink">
			<h2>相关文章</h2>
			<ul>
				<li><a href="blog/1.htm"
					title="博客开发日志(1)">博客开发日志(1)</a></li>
				<li><a href="blog/3.htm"
					title="博客开发日志(3)">博客开发日志(3)</a></li>
			</ul>
		</div>
		<!-- <div class="blank"></div> -->
		<!--畅言高速版-->
		<div class="changyan">
			<div id="SOHUCS" sid="${blog.id}"></div>
		</div>
		<script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
		<script type="text/javascript">
		    window.changyan.api.config({
		        appid: 'cys74xDdn',
		        conf: 'prod_6ae2722e1da533f474b47c203a5531ae'
		    });
		</script> 
	</div>
	<aside class="right">

		<div class="rnav">
			<h2>栏目导航</h2>
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="http://nginx.org/">Nginx Org.</a></li>
				<li><a href="http://tomcat.apache.org/">Apache Tomcat</a></li>
				<li><a href="http://www.mysql.com/downloads/">MySQL DataBase</a></li>
				<li><a href="http://subchen.github.io/jetbrick-template/2x/overview.html">Jetbrick-template</a></li>
				<li><a href="https://www.centos.org/">Linux CentOS</a></li>
			</ul>
		</div>
		<div class="rnavs">
			<h2>栏目导航</h2>
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="http://nginx.org/">Nginx Org.</a></li>
				<li><a href="http://tomcat.apache.org/">Apache Tomcat</a></li>
				<li><a href="http://www.mysql.com/downloads/">MySQL DataBase</a></li>
				<li><a href="http://subchen.github.io/jetbrick-template/2x/overview.html">Jetbrick-template</a></li>
				<li><a href="https://www.centos.org/">Linux CentOS</a></li>
			</ul>
		</div>
		<div class="blank"></div>
		<div class="news">
			<h3>
				<p>
					栏目<span>最新</span>
				</p>
			</h3>
			<ul class="rank">
				<li><a href="http://www.baidu.com"
					title="一切尽在百度" target="_blank">一切尽在百度，待后期完善^_^</a></li>
			</ul>
			<h3 class="ph">
				<p>
					点击<span>排行</span>
				</p>
			</h3>
			<ul class="paih">
				#for(Blog viewed:viewedBlogTop5)
				<li><a href="/"
					title="${blog.title}" target="_blank">${viewed.title}</a></li>
				#end
			</ul>
		</div>
		<div class="bdsharebuttonbox">
			<a href="#" class="bds_more" data-cmd="more"></a><a href="#"
				class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#"
				class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#"
				class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#"
				class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#"
				class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
		</div>
		<script>
			window._bd_share_config = {
				"common" : {
					"bdSnsKey" : {},
					"bdText" : "",
					"bdMini" : "2",
					"bdMiniList" : false,
					"bdPic" : "",
					"bdStyle" : "1",
					"bdSize" : "32"
				},
				"share" : {}
			};
			with (document)
				0[(getElementsByTagName('head')[0] || body)
						.appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
						+ ~(-new Date() / 36e5)];
		</script>

		<div class="blank"></div>
		<!-- <div class="visitors">
			<h3>
				<p>最近访客</p>
			</h3>
			<ul class="ds-recent-visitors" data-num-items="24"></ul>
			<script type="text/javascript">
				var duoshuoQuery = {
					short_name : "yangqq"
				};
				(function() {
					var ds = document.createElement('script');
					ds.type = 'text/javascript';
					ds.async = true;
					ds.src = 'http://static.duoshuo.com/embed.js';
					ds.charset = 'UTF-8';
					(document.getElementsByTagName('head')[0] || document
							.getElementsByTagName('body')[0]).appendChild(ds);
				})();
			</script>
		</div> -->
	</aside>
</article>

#include("layout/footer.htm")
