#options(import="java.text.SimpleDateFormat")
#set(date=new SimpleDateFormat("yyyy-MM-dd"))
#set(datetime=new SimpleDateFormat("yyyy-MM-dd HH:mm:ss"))
#include("layout/header.htm")
<link href="css/index.css" rel="stylesheet">
<!--end header-->
<div class="banner">
  <section class="box">
    <ul class="texts">
      <p class="p1">越努力 越幸运</p>
      <p class="p2">每一天，都不停下成长的脚步</p>
      <p class="p3">Since:2015-11-07</p>
    </ul>
  </section>
</div>
<!--end banner-->
<article>
  <h2 class="title_tj">
    <p>文章<span>推荐</span></p>
  </h2>
  <div class="bloglist left">
   <!--wz-->
   #for (Blog blog:blogList)
    <div class="wz">
    <h3>${blog.title}</h3>
    <p class="dateview"><span>${datetime.format(blog.createDate)}</span><span>作者：${userName}</span><span>分类：[<a href="#">${blog.blogType.value}</a>]</span></p>
    <figure><img src="/images/001.jpg"></figure>
    <ul>
      <p class="content">${blog.contentView}</p>
      <a title="阅读全文" href="blog/${blog.id}.htm" target="_blank" class="readmore">阅读全文>></a>
    </ul>
    <div class="clear"></div>
    </div>
    #end
   <!--end-->
  </div>
  <!-- <hr style="width:2px;height:1000px; "></hr> -->
  <!--right-->
  <aside class="right"> 
    <div class="my">
     <h2>关于<span>博主</span></h2>
     <img src="images/my.png" border: #f4f2f2 1px solid; width="200" height="200" alt="大帅比">
       <ul>
        <li>博主：${userName}</li>
        <li>职业：${job}</li>
        <li>简介：${release}</li>
        <li></li>   
       </ul>
    </div>
    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
    <div class="news">
    <h3 class="ph">
      <p>点击<span>排行</span></p>
    </h3>
    <ul class="paih">
    	#for(Blog blog:viewedBlogTop5)
      <li><a href="/" title="${blog.title}" target="_blank">${blog.title}</a></li>
      	#end
    </ul>
    <h3>
      <p>博客<span>分类</span></p>
    </h3>
    <ul class="rank">
    	#for(Map map:blogTypeList)
      <li><a href="/" title="${map.VALUE}" target="_blank">${map.VALUE}(${map.blogNums})</a></li>
		#end
    </ul>
    
    <h3 class="links">
      <p>友情<span>链接</span></p>
    </h3>
    <ul class="website">
      <li><a href="http://blog.lxd.pub">个人博客1.0</a></li>
    </ul> 
    </div> 
</article>
<!--百度分享-->
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
#include("layout/footer.htm")
