<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>${userName}-个人博客</title>
  <meta name="keywords" content="廖旭东，个人博客" />
  <meta name="description" content="个人博客，记录学习之路" />
  <link href="images/favicon.png" type="image/x-icon" rel="shortcut icon" />
  <meta name="baidu-site-verification" content="5iA07ryeaf" /><!-- 百度验证 -->
  <meta property="qc:admins" content="6716230277764046052" /><!-- 腾讯开放接口测试标记 -->
  <!--css-->
  <link rel="stylesheet" href="css/index.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" href="css/my.css"/>
  <!--js-->
  <script type="text/javascript" src="js/jquery1.42.min.js"></script>
  <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <!--header start-->
    <div id="header" class="header">
      <div id="maxim" class="maxim">
        <p>越努力，越幸运<br/>
        不断前行，不断进步，生命不息，奋斗不止</p>    
      </div>
      <nav id="navbar" class="navbar">
        <a href="index.htm"><span>首页</span><span class="en">Protal</span></a>
        <a href="blog.htm"><span>博文分类</span><span class="en">Blog</span></a>
        <a href="about.htm"><span>关于我</span><span class="en">About</span></a>
        <a href="leaveMessage.htm"><span>留言板</span><span class="en">Message</span></a>
      </nav>
    </div>
     <!--header end-->
    <!--content start-->
    <div id="content">
         <!--left-->
         <div class="left" id="c_left">
           <div class="s_tuijian">
           <h2>文章<span>推荐</span></h2>
           </div>
          <div class="content_text">
           <!--wz-->
           <div class="wz">
            <h3><a href="#" title="浅谈：html5和html的区别">开发日志：搭建自己的小站之路(1)</a></h3>
             <dl>
               <dt><img src="images/s.jpg" width="200"  height="123" alt=""></dt>
               <dd>
                 <p class="dd_text_1">上礼拜周六凌晨，大概1点钟的样子，就辣么一瞬间，终于拿起了自己设想已久--要给自己建个小站--的想法。俗话说：万事开头难，事情起步了，总会有那么点动力会驱使自己慢慢去完成它。当初的想法很让人激动，但是过去很久时间，却一直没踏出第一步。于是，那晚，2015-11-06日，终于狠下心买了云服务器，开始了行动路上的第一步。虽然是最低配，装的还是很久未接触的linux，不过还是通宵搭好了环境:jdk，数据库，nginx/tomcat。紧接着，服务器有了，便是开发：搭框架，选java模板(不用jsp)，搜静态页。到了今晚，终于把nginx+tomcat负载均衡完全完成，项目可以静动分离的正常跑起来。虽然现在还是相当于一些网上拿来的静态页面(少量后端动态交互)，但是竟然有点小小的激动,等待哥后续完成~</p>
               <p class="dd_text_2">
               <span class="left author">${userName}</span><span class="left sj">时间:2015-11-09晚23:23分</span>
               <span class="left fl">分类:<a href="#" title="开发日志">开发日志</a></span><span class="left yd"><a href="#" title="阅读全文">阅读全文</a>
               </span>
                <div class="clear"></div>
               </p>
               </dd>
               <div class="clear"></div>
             </dl>
            </div>
           <!--wz end-->
            <!--wz-->
           <!--wz end-->
           </div>

           <div class="content_text">
           <!--wz-->
           <div class="wz">
            <h3><a href="#" title="浅谈：html5和html的区别">开发日志：搭建自己的小站之路(2)</a></h3>
             <dl>
               <dt><img src="images/s.jpg" width="200"  height="123" alt=""></dt>
               <dd>
                 <p class="dd_text_1">xmanager的xftp工具简直神器，直接win下编辑linux同步保存,非常方便。1.设置nginx的域名精确匹配，禁止ip直接访问，404等页面暂时直接使用nginx的等等。2.把项目托管到github，便于自己在任何地方开发。3.安装powerDisign建模工具，并创建repository库，便于接下来的规范化数据库设计。4.添加百度js分享工具完全不要自己动手可以分享。5.本来想今晚先把留言功能做完(存放在数据库),但是页面没有，比较难搞</p>
               <p class="dd_text_2">
               <span class="left author">${userName}</span><span class="left sj">时间:2015-11-10晚21:35分</span>
               <span class="left fl">分类:<a href="#" title="开发日志">开发日志</a></span><span class="left yd"><a href="#" title="阅读全文">阅读全文</a>
               </span>
                <div class="clear"></div>
               </p>
               </dd>
               <div class="clear"></div>
             </dl>
            </div>

            <div class="content_text">
           <!--wz-->
           <div class="wz">
            <h3><a href="#" title="浅谈：html5和html的区别">浅谈：html5和html的区别</a></h3>
             <dl>
               <dt><img src="images/s.jpg" width="200"  height="123" alt=""></dt>
               <dd>
                 <p class="dd_text_1">最近看群里聊天聊得最火热的莫过于手机网站和html5这两个词。可能有人会问，这两者有什么关系呢？随着这移动互联
                 网快速发展的时代，尤其是4G时代已经来临的时刻，加上微软对"XP系统"不提供更新补丁、维护的情况下。
               html5+css3也逐渐的成为新一代web前端技术.....</p>
               <p class="dd_text_2">
               <span class="left author">${userName}</span><span class="left sj">时间:<span class="now-date"></span></span>
               <span class="left fl">分类:<a href="#" title="学无止境">学无止境</a></span><span class="left yd"><a href="#" title="阅读全文">阅读全文</a>
               </span>
                <div class="clear"></div>
               </p>
               </dd>
               <div class="clear"></div>
             </dl>
            </div>
                             
           </div>
            <div class="content_text">
           <!--wz-->
           <div class="wz">
            <h3><a href="#" title="浅谈：html5和html的区别">浅谈：html5和html的区别</a></h3>
             <dl>
               <dt><img src="images/s.jpg" width="200"  height="123" alt=""></dt>
               <dd>
                 <p class="dd_text_1">最近看群里聊天聊得最火热的莫过于手机网站和html5这两个词。可能有人会问，这两者有什么关系呢？随着这移动互联
                 网快速发展的时代，尤其是4G时代已经来临的时刻，加上微软对"XP系统"不提供更新补丁、维护的情况下。
               html5+css3也逐渐的成为新一代web前端技术.....</p>
               <p class="dd_text_2">
               <span class="left author">${userName}</span><span class="left sj">时间:<span class="now-date"></span></span>
               <span class="left fl">分类:<a href="#" title="学无止境">学无止境</a></span><span class="left yd"><a href="#" title="阅读全文">阅读全文</a>
               </span>
                <div class="clear"></div>
               </p>
               </dd>
               <div class="clear"></div>
             </dl>
            </div>
                             
           </div>
           <!--wz end-->
            <!--wz-->
           <!--wz end-->
                             
           </div>
         </div>
         <!--left end-->
         <!--right-->
         <div class="right" id="c_right">
          <div class="s_about">
          <h2>关于博主</h2>
           <img src="images/my.jpg" width="230" height="230" alt="博主"/>
           <br/>
           <p>博主：${userName}</p>
           <p>职业：java开发工程师</p>
           <p>简介：一个90后苦逼程序猿。一直想做一个自己的网站，下定决心买了个最低配的服务器。博客使用java开发，服务器Linux centOS,mysql数据库,，nginx+tomcat负载均衡。页面呢，要我做前端ui设计/html就跟要亲命似的，就随便度娘了，顺便感谢下原作者的无私贡献</p>
           <p>
           <br/>
           <!-- Baidu Button BEGIN -->
		    <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"><a class="bds_tsina"></a><a class="bds_qzone"></a><a class="bds_tqq"></a><a class="bds_renren"></a><span class="bds_more"></span><a class="shareCount"></a></div>
		    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script> 
		    <script type="text/javascript" id="bdshell_js"></script> 
		    <script type="text/javascript">
			document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
			</script> 
		    <!-- Baidu Button END -->
           <div class="clear"></div>
           </p>
          </div>
          <!--栏目分类-->
           <div class="lanmubox">
              <div class="hd">
               <ul><li>精心推荐</li><li>最新文章</li><li class="hd_3">随机文章</li></ul>
              </div>
              <div class="bd">
                <ul>
					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>
					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>
					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>
					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>
					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>
				</ul>
                 <ul>
					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>
					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>
					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>
					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>
					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>
				</ul>
                 <ul>
					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>
					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>
					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>
					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>
					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>
				</ul>
                 
                
              </div>
           </div>
           <!--end-->
           <!-- <div class="link">
            <h2>友情链接</h2>
            <p><a href="http://blog.lxd.pub">${userName}个人博客</a></p>
           </div> -->
         </div>
         <!--right end-->
         <div class="clear"></div>
    </div>
    <!--content end-->
    <!--footer start-->
    <div id="footer">
     <p>Design by:<a href="http://blog.lxd.pub" target="_blank">Others~</a><span class="now-date"></span></p>
    </div>
    <!--footer end-->
    <script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script>
    <script type="text/javascript">
        $(function(){
          var today = new Date();
          $('.now-date').text(today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate());
        });
    </script>
</body>
</html>
