<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8" />
	<title>列表</title>
	<link rel="stylesheet" href="css/kube.css">
	<script type="text/javascript" src="js/combine.js"></script>
	<script type="text/javascript" src="js/kube.js"></script>
</head>
<body>
	<div class="nav-toggle">
		<div id="nav-brand">
			<span>个人博客</span>
			<a href="#" data-tools="togglenav" class="tools-toggle" data-target="#header"></a>
		</div>
	</div>
	<!-- 头部 -->
	<header id="header" class="hide-for-small">
		<nav id="nav-left">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="/">关于</a></li>
			</ul>
		</nav>
		<div class="brand hide-for-small">
			<a href="index.html">列表详情</a>
		</div>
		<nav id="nav-right">
			<ul>
				<li><a href="/">作者简介</a></li>
				<li><a href="article.html">博客</a></li>
				<li><a href="login.html">账号登录</a></li>
			</ul>
		</nav>
	</header>
	<!-- 详情标题 -->
	<div id="hero">
		<div id="hero-box">
			<h1>文章分类</h1>
		</div>
	</div>
	<!-- 详细组件 -->
	<div id="plugins" class="wrap">
		<blocks cols="3">
			<div class="shadow">
				<h3><a href="article.html">开发日志</a></h3>
				<p>记录开发过程中的点点滴滴，走过的每一步，都是一次学习进步的过程.</p>
			</div>
			<div class="shadow">
				<h3><a href="/">JAVA技术</a></h3>
				<p>没有永不过时的技术，要有不断进取的心!</p>
			</div>
			<div class="shadow">
				<h3><a href="/">数据库</a></h3>
				<p>关系型数据库、对象文档存储式数据库...每一个系统，都离不开强大数据库的底层支持.</p>
			</div>
			<div class="shadow">
				<h3><a href="/">设计模式</a></h3>
				<p>32种设计模式，都是前人走过无数的路总结而来，学习"模式"，但不限于固定"模式"！</p>
			</div>
			<div class="shadow">
				<h3><a href="/">服务器</a></h3>
				<p>作为搭载程序、提供程序运行环境的基础，不可不学.</p>
			</div>
		</blocks>
	</div>
	<br>
	<br>
	<br>
	<br>
	<!-- 底部 -->
	<footer id="footer">
		<p>&copy;廖旭东.All rights reserved.</p>
		<nav>
			<ul>
				<li><a href="/">联系作者</a></li>
				<li><a href="/">关注微信公众号</a></li>
			</ul>
		</nav>
	</footer>

</body>
</html>