#include("layout/header.htm")
<link href="/css/base.css" rel="stylesheet">
<link href="/css/about.css" rel="stylesheet">
<link rel="stylesheet" href="kindeditor/themes/default/default.css" />
<link rel="stylesheet" type="text/css" href="css\kube.min.css"/>
<style type="text/css">
	body { font: 12px "微软雅黑", Arial, Helvetica, sans-serif; color: #756F71 }
	article{
		margin: 20px auto;
		width: 1000px;
		overflow: hidden;
	}
</style>
<article class="aboutcon">
<h1 class="t_nav"><span>您当前的位置：<a href="htpp://www.lxd.pub/writeArticle.htm">写博客</a></span></h1>
<div class="content">
  <form id="me_text" method="post">
		<section>
			<h6>文章类型<span class="req">*</span></h6>
			<select name="articleType" id="articleType" class="select" style="width: 120px">
				<option value="请选择">请选择</option>
				<option value="1">原创</option>
				<option value="2">转载</option>
			</select>
		</section>
		<section>
			<h6>文章标题<span class="req">*</span></h6>
			<input name="title" type="text" placeholder="博客标题" class="width-4" />
		</section>
		<section>
			<h6>文章预览图<span class="req">*</span></h6>
			<input name="imageView" type="text" id="imageViewURL" style="width:210px" /><button id="imageView" class="btn" onclick="return false;">选择图片</button>
		</section>
		<section class="checkbox-list" style="margin: 5px 0px 8px 0px;">
			<h6>所属分类<span class="req">*</span></h6>
			#for(SysData sysData:blogTypeList)
			<input name="blogType" type="radio" value="${sysData.id}" /><label>${sysData.value}</label>
			#end
		</section>
		<section>
			<h6>文章内容<span class="req">*</span></h6>
			<textarea id="content" style="width:800px;height:400px;visibility:hidden;"></textarea>
		</section>
		<section>
			<h6>文章标签</h6>
			<input name="keywords" type="text" placeholder="最多添加5个标签，多个标签使用“,”分隔" class="width-5" />
		</section>
		<br>
		<section>
			<button type="black" id="saveArticle">发表文章</button>&nbsp;&nbsp;<button onclick="return false;">取消</button>
		</section>
  </form>
  <script charset="utf-8" src="kindeditor\kindeditor-min.js"></script>
 <script>
			var editor;
			var imageOnly;
			KindEditor.ready(function(K) {
				editor = K.create('#content', {
					uploadJson : 'file/upload.htm',
					fileManagerJson : 'file/manage.htm',
					allowFileManager : true,
					items:['source', '|', 'undo', 'redo', '|','code', 'cut', 'copy', 'paste', '|', 'justifyleft', 'justifycenter', 'justifyright','insertorderedlist', 'quickformat', 'selectall','formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold','italic', 'underline', '|',
						'image', 'multiimage','insertfile', 'hr', 'baidumap', 'anchor', 'link'],
					resizeType:0
				});
				imageOnly = K.editor({
					allowFileManager:true,
					uploadJson : 'file/upload.htm',
					fileManagerJson : 'file/manage.htm'
				});
				K('#imageView').click(function() {
					imageOnly.loadPlugin('image', function() {
						imageOnly.plugin.imageDialog({
							imageUrl : K('#imageViewURL').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#imageViewURL').val(url);
								imageOnly.hideDialog();
							}
						});
					});
				});
				
				$('#me_text').form({
						url:'saveArticle.htm',
						onSubmit:function(param){
							param.contentView=editor.text().replace(/[\r\n]/g,"");
							param.content = editor.html();
						},
						success:function(data){
							if(data.success){
								alert('文章发布成功！');
								window.location.href = "/blog/"+data.articleId+".htm";
							}
						}
				});
				/* function submitForm(){
					$('#me_text').submit();
				} */
			});

</script>

</div>
</article>
<script charset="utf-8" src="js\jquery.js"></script>
<!-- <script charset="utf-8" src="E:\BaiduYunDownload\jquery-easyui-EDT-1.4-api\jquery-easyui-1.4\jquery.easyui.min.js"></script> -->
<script charset="utf-8" src="js\jquery.parser.js"></script>
<script charset="utf-8" src="js\jquery.form.js"></script>
#include("layout/footer.htm")

