<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="XMLConfigLog4j2">
    <Properties>
        <Property name="service">techeffic_blog</Property>
        <Property name="filename">logs/blog.log</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <!-- Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS}  [%t] %-5p %-20c - %m%n"/>
        </Console>
        <!-- flume -->
        <!--<Flume name="flume" ignoreExceptions="true" compress="false" type="avro" dataDir="InMemory">
            &lt;!&ndash; IP:port &ndash;&gt;
            <Agents hosts="172.17.4.203:41414" />
            <RpcLayout  Charset="UTF-8"/>
        </Flume>-->
        <!-- date split -->
        <RollingFile name="RollingFile" fileName="${filename}" filePattern="${filename}.%d{yyyy-MM-dd_HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS}  [%t] %-5p %-20c - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy  interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <!-- <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters> -->
        </RollingFile>
        <!-- network asyn -->
        <!--<Async name="Async" blocking="false" >
            <AppenderRef ref="flume" />
        </Async>-->
    </Appenders>

    <Loggers>
        <logger name="org.eclipse.jetty" level="DEBUG" additivity="true" />
        <logger name="org.springframework" level="ERROR" additivity="true" />
        <logger name="com.techeffic" level="INFO" additivity="true" />
        <logger name="jetbrick.template" level="ERROR" additivity="true" />
        <logger name="org.apache.ibatis" level="ERROR" additivity="true" />
        <logger name="javax.servlet" level="ERROR" additivity="true" />
        <!-- sql DEBUG -->
        <logger name="org.mybatis" level="DEBUG" additivity="true" />
        <logger name="com.ibatis" level="DEBUG" additivity="true" />
        <logger name="java.sql" level="DEBUG" additivity="true" />

        <Root level="DEBUG">
            <!-- <AppenderRef ref="Async" /> -->
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>

</Configuration>