<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 使用annotation 自动注册bean,并检查@Required,@Autowired的属性已被注入 -->
    <context:component-scan base-package="com.techeffic.blog">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>
    <!-- 用于持有ApplicationContext,可以使用SpringContextHolder.getBean('xxxx')的静态方法得到spring bean对象 -->
    <bean class="com.techeffic.blog.common.context.SpringContextHolder" lazy-init="false"/>


    <!-- 注解式事务
    <tx:annotation-driven transaction-manager="transactionManager"/>-->

    <!--<import resource="classpath*:spring/db/applicationContext-jdbc.xml"/>-->
    <import resource="classpath*:spring/db/applicationContext-mongo.xml"/>
    <import resource="classpath*:spring/redis/applicationContext-redis.xml"/>
</beans>